* {
    border: 0px;
    padding: 0;
    box-sizing: border-box;
}

header a#cart{
	background-image: url(https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-shopping-cart-icon-shopping-cart-by-vexels.png);
	background-size: cover;
}

a#cart{
    color: transparent;
}

@keyframes cart{
	from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

header a#cart:hover{
	animation: cart linear 0.5s;
}

footer a#cart{
	background-image: url(https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-shopping-cart-icon-shopping-cart-by-vexels.png);
	background-size: cover;
}

footer a#cart:hover{
	animation: cart linear 0.5s;
}
